<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./Images/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Major+Mono+Display&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./CSS/styles.css" />
    <title>News Short</title>
  </head>
  <body>
    <nav class="nav-bar">
      <h3>Ns</h3>
      <div class="right-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#category">Categories</a></li>
        </ul>
        <button
          onclick="window.location.href='mailto:pauldebsishu2002@gmail.com'"
          class="contact"
        >
          Contact Me
        </button>
      </div>
    </nav>
    <div class="container">
      <div class="hero-container">
        <div class="left">
          <div class="circle"></div>
        </div>
        <div class="right"></div>
      </div>
      <div class="content">
        <h1 class="stagger">
          One Stop Daily News<br />News Articles In Just 60 Words
        </h1>
        <h2 class="stagger hero-h2">Reading News In A New Way</h2>
        <button
          class="stagger hero-btn"
          onclick="window.location.href='#category'"
        >
          Click to Start Reading
        </button>
      </div>
    </div>

    <div class="card-container" id="category">
      <h1>Please Select Any One From The List</h1>
      <div class="poster-container">
        <% for(var i = 0; i < data.length; i++) { %>
        <div
          class="cards"
          onclick="window.location.href = '/categories/<%= data[i].tag %>';"
        >
          <div class="poster">
            <img src="<%= data[i].image_url %>" alt="" srcset="" />
            <div class="text"><p><%= data[i].label %></p></div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
      integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
      crossorigin="anonymous"
    ></script>
    <script src="./app.js"></script>
  </body>
</html>
